header {
    background-image: url(../img/DSC_7137.jpg);
    background-size: cover;
    background-position-y: 20%;
    background-repeat: no-repeat;
    
    height: 45vh;
    margin-bottom: 5rem;
    position: relative;
}